<% case params[:sort_flag] %>
<% when '関連度順' then%>
  <p class='col-10 font-weight-bold font-italic text-line' style='color: #45494D'>関連度順</p>
<% when '新着順' then%>
  <p class='col-10 font-weight-bold font-italic text-line' style='color: #45494D'>新着順</p>
<% when 'いいね順' then%>
  <p class='col-10 font-weight-bold font-italic text-line' style='color: #45494D'>いいね順</p>
<% when 'ブックマーク順' then%>
  <p class='col-12 font-weight-bold font-italic text-line' style='color: #45494D'>ブックマーク順</p>
<% end %>

