<div class='pattern-cross-dots-lg'>
  <div style='background: rgba(255,255,255,0.80);'>
    <div class='col-md-10 col-lg-8 mx-auto py-5 px-5 border bg-white shadow-lg'>
      <div class='article-error'>
        <%= render 'layouts/error', obj: @article %>
      </div>
      <h2 class="mb-5">Editing Article</h2>
        <%= render 'articles/article_form', article: @article %>
    </div>
  </div>
</div>