<div class='pattern-cross-dots-lg'>
  <div style='background: rgba(235,235,235,0.70);'>
    <div class='container-md py-5 border shadow bg-white px-4 px-sm-5' style='min-height: 750px'>
      <div class='d-flex align-items-center justify-content-center flex-wrap mb-4'>
        <h1 class='font-weight-bold mr-3' style='font-family: cursive;'>Follower Users</h1>
        <h4 class='text-line d-sm-flex font-italic'><%= @user.name%></h4>
      </div>
      <div class='user-index row align-items-stretch mt-4'>
        <%= render 'users/index', users: @users %>
      </div>
    </div>
  </div>
</div>