<div class='pattern-cross-dots-lg'>
  <div style='background: rgba(235,235,235,0.70);'>
    <div class='container py-5 border shadow px-5 bg-white' style='min-height: 750px'>
      <h1 class='font-weight-bold mb-4' style='font-family: cursive;'>Users</h1>
      <div class='user-index row align-items-stretch mt-4'>
        <%= render 'users/index', users: @users %>
      </div>
    </div>
  </div>
</div>