// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-head-bg {
  height: 500px;
  background-image: image_url('top_head.png');
  background-size: cover;
  background-position: top;
}

.top-main-monitor {
  height: 680px;
  background-image: image_url('monitor.png');
  background-size: cover;
  background-position: top;
}