<% unless current_page?(root_path) || defined?(@user) && current_page?(user_path(@user)) %>
  <div class='d-flex'>
    <h3 class='mb-0' style='font-size: 30px;'>Tags</h3>
    <% if params[:content].present?%>
      <p class='col-7  mb-0 font-weight-bold font-italic text-line' style='color: #45494D'>関連するタグ</p>
    <% elsif defined?(@user) && ( current_page?(posts_user_path(@user)) || current_page?(bookmarks_user_path(@user)) ) %>
      <p class='col-8  mb-0 font-weight-bold font-italic text-line' style='color: #45494D'>登録数が多いタグ</p>
    <% else %>
      <p class='col-6  mb-0 font-weight-bold font-italic text-line' style='color: #45494D'>人気のタグ</p>
    <% end %>
  </div>
<% end %>

<div id='tag_info' data-json='<%= results.to_json %>'></div>
<div id='chartdiv'></div>

<!-- Chart code -->
<script>
  am4core.ready(function() {

    // Themes begin
    am4core.useTheme(am4themes_animated);
    // Themes end

    const chart = am4core.create("chartdiv", am4plugins_wordCloud.WordCloud);
    chart.fontFamily = "Courier New";
    const series = chart.series.push(new am4plugins_wordCloud.WordCloudSeries());
    series.randomness = 0.1;
    series.rotationThreshold = 0.5;

    series.data = JSON.parse(document.getElementById('tag_info').dataset.json);

    series.dataFields.word = "tag";
    series.dataFields.value = "count";

    series.maxFontSize = am4core.percent(20);
    series.minFontSize = am4core.percent(5);

    series.heatRules.push({
        "target": series.labels.template,
        "property": "fill",
        "min": am4core.color("#0000CC"),
        "max": am4core.color("#CC00CC"),
        "dataField": "value",
    });

    const path = location.pathname
    if (path.includes('articles') || path.includes('posts') || path.includes('bookmarks')) {
      series.width = am4core.percent(100);
      series.height = am4core.percent(90);
      series.valign = "top";
    }

    series.labels.template.url = "https://e367016fe1e844c2b818277d30c8f55c.vfs.cloud9.us-east-1.amazonaws.com/books?tag={word}";
    series.labels.template.tooltipText = "{word}: {value}";

    const hoverState = series.labels.template.states.create("hover");
    hoverState.properties.fill = am4core.color("#FF0000");

  }); // end am4core.ready()
</script>

<!-- Styles -->
<% if defined?(@user) && current_page?(user_path(@user)) || current_page?(root_path) %>
  <style>
    #chartdiv {
      width: 100%;
      height: 500px;
    }
  </style>
<% else %>
  <style>
    #chartdiv {
      width: 100%;
      height: 370px;
    }
  </style>
<% end %>