<% unless current_page?(root_path) || defined?(@user) && current_page?(user_path(@user)) %>
  <div class='d-flex'>
    <h3 class='mb-0' style='font-size: 30px;'>Tags</h3>
    <% if params[:content].present?%>
      <p class='d-flex ml-3 mb-0 font-weight-bold font-italic text-line' style='color: #45494D'>関連するタグ</p>
    <% elsif defined?(@user) && ( current_page?(posts_user_path(@user)) || current_page?(bookmarks_user_path(@user)) ) %>
      <p class='d-flex ml-3  mb-0 font-weight-bold font-italic text-line' style='color: #45494D'>登録数が多いタグ</p>
    <% else %>
      <p class='d-flex ml-3  mb-0 font-weight-bold font-italic text-line' style='color: #45494D'>人気のタグ</p>
    <% end %>
  </div>
<% end %>
<div id='json-option' data-json='<%= params[:option].to_json %>'></div>
<div id='json-category-name' data-json='<%= params[:category_name].to_json %>'></div>
<div id='json-user-id' data-json='<%= @user.id.to_json if defined?(@user)%>'></div>
<div id='tag_info' data-json='<%= results.to_json %>'></div>
<div id='chartdiv'></div>

<!-- Chart code -->
<script>
  am4core.ready(function() {

    // Themes begin
    am4core.useTheme(am4themes_animated);
    // Themes end
    const path = location.pathname
    const chart = am4core.create("chartdiv", am4plugins_wordCloud.WordCloud);
    chart.fontFamily = "Courier New";
    const series = chart.series.push(new am4plugins_wordCloud.WordCloudSeries());
    series.randomness = 0.1;
    series.rotationThreshold = 0.5;

    series.data = JSON.parse(document.getElementById('tag_info').dataset.json);
    series.dataFields.word = "tag";
    series.dataFields.value = "count";
    series.dataFields.showValue = "show_count"
    series.category = JSON.parse(document.getElementById('json-category-name').dataset.json);
    if ((path.includes('articles') == false) && (path != '/')) {
      series.user = JSON.parse(document.getElementById('json-user-id').dataset.json);
    }

    series.maxFontSize = am4core.percent(20);
    series.minFontSize = am4core.percent(5);

    series.heatRules.push({
      "target": series.labels.template,
      "property": "fill",
      "min": am4core.color("#0000CC"),
      "max": am4core.color("#CC00CC"),
      "dataField": "value",
    });

    if (path.includes('articles') || path.includes('posts') || path.includes('bookmarks')) {
      series.width = am4core.percent(100);
      series.height = am4core.percent(90);
      series.valign = "top";
    }

    const option = document.getElementById('json-option')
    if (path.includes('posts') || (JSON.parse(option.dataset.json) == '投稿')) {
      series.labels.template.url = "/users/{user}/posts?content={word}&category_name={category}"
    } else if (path.includes('bookmarks') || (JSON.parse(option.dataset.json) == 'ブックマーク')) {
      series.labels.template.url = "/users/{user}/bookmarks?content={word}&category_name={category}"
    } else {
      series.labels.template.url = "/articles?content={word}&category_name={category}";
    }

    if (series.data[0]['show_count'] == undefined) {
      series.labels.template.tooltipText = "{category}: {word}　{value}件";
    } else {
      series.labels.template.tooltipText = "{category}: {word}　{showValue}件";
    }

    const hoverState = series.labels.template.states.create("hover");
    hoverState.properties.fill = am4core.color("#FF0000");

  }); // end am4core.ready()
</script>

<!-- Styles -->
<% if defined?(@user) && current_page?(user_path(@user)) || current_page?(root_path) %>
  <style>
    #chartdiv {
      width: 100%;
      height: 500px;
    }
  </style>
<% else %>
  <style>
    #chartdiv {
      width: 100%;
      height: 370px;
    }
  </style>
<% end %>